<widget xmlns   = "http://www.w3.org/ns/widgets"
         xmlns:gap   = "http://phonegap.com/ns/1.0"
         id          = "1048770"
         versionCode = "2" 
         version     = "2.0.0" >
 
     <!-- versionCode is optional and Android only -->
     <name>PhoneGap Example</name>

    <description>
        An example for phonegap build docs. 
    </description>
    
     <author href="https://www.odcpd.com" email="clay@ourppi.com">
         Clay Owensby
     </author>
        
 </widget>
