<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
         xmlns:gap   = "http://phonegap.com/ns/1.0"
         id          = "1048770"
         version = "3.5"
         versionCode = "1">
         
         <preference name="phonegap-version" value="3.5" />
         <preference name="fullscreen" value="false" />
     <!-- versionCode is optional and Android only -->
     <name>ODCPD Portal App</name>

    <description>
        An example for phonegap build docs. 
    </description>
    
     <author href="https://www.odcpd.com" email="clay@ourppi.com">
         Clay Owensby
     </author>
     
        
 </widget>
