<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "3.5.0" >

    <!-- versionCode is optional and Android only -->

    <name>ODCPD Poral</name>

    <description>
        This is the initial app build for the ODCPD Portal. 
    </description>

    <author href="https://www.odcpd.com" email="clay@ourppi.com">
        Clay Owensby
    </author>


</widget>
